<ng-container *ngIf="loader then loaderBox else dataBox"></ng-container>


<ng-template #loaderBox>

</ng-template>

<ng-template #dataBox>
  <apx-chart #chart [annotations]="chartOptions.annotations"
  [chart]="chartOptions.chart"
  [colors]="chartOptions.colors"
  [dataLabels]="chartOptions.dataLabels"
  [fill]="chartOptions.fill"
  [forecastDataPoints]="chartOptions.forecastDataPoints"
  [grid]="chartOptions.grid"
  [labels]="chartOptions.labels"
  [legend]="chartOptions.legend"
  [markers]="chartOptions.markers"
  [noData]="chartOptions.noData"
  [plotOptions]="chartOptions.plotOptions"
  [responsive]="chartOptions.responsive"
  [series]="chartOptions.series"
  [states]="chartOptions.states"
  [stroke]="chartOptions.stroke"
  [subtitle]="chartOptions.subtitle"
  [theme]="chartOptions.theme"
  [title]="chartOptions.title"
  [tooltip]="chartOptions.tooltip"
  [xaxis]="chartOptions.xaxis"
  [yaxis]="chartOptions.yaxis"
  ></apx-chart>
</ng-template>



