.evaluation-score-widget {
  @apply grid grid-cols-1 gap-2;
  height: 100%;

  .satisfaction-content {
    background-color: #040a66;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    width: 75%;
    margin: auto;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
